<div class="user-div">
	<div class="account-info"> 
		<h1 class="landing">Welcome to MBanking, <%=@customer.fname%>.</h1>
		<br>
		<h1 class="landing"> Your Accounts </h1>
		<br>
		
		<% @accounts.each do |account| %>
			<h1 class="landing"><%= account.account_type %></h1>
			<h3 class="landing b" >balance: 
			$<%= account.balance %>0
			</h3>
		<% end %>
			<svg id="accounts"></svg>
			<br>
		<h2 class="landing"><a href="http://localhost:5000/">Balance history</a></h2>
	</div>
</div>