<h1>Customers#index</h1>
<p>Find me in app/views/customers/index.html.erb</p>
<h1>Welcome to M Banking, <%=@customer.fname%>.</h1>
	<h1> Your accounts </h1>
	<% @accounts.each do |account| %>
		<h1><%= account.account_type %></h1>
		<h3>Current Balance: 
		$<%= account.balance %>
		</h3>
	<% end %>
